.wrapper {
  padding: 1rem;
  text-align: center;
}

.card_faceId {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card_faceId:hover {
  border: 1px solid dodgerblue;
  color: dodgerblue;
}

.card_faceId_active {
  border-color: dodgerblue;
  background-color: dodgerblue;
  color: white;
}

.card_faceId_active:hover {
  border-color: lightgrey;
  color: white;
}

.instruct {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
}

.instruct p {
  margin-top: 0.3rem;
}
