.wrapper {
  position: relative;
  padding: 1rem;
  text-align: center;
}

.btn_back {
  position: absolute;
  left: 1rem;
  top: 1rem;
  font-size: 1rem;
}

.card_faceId {
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 0.3rem;
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.5rem;

  &:hover {
    border: 1px solid dodgerblue;
    color: dodgerblue;
  }
}

.card_faceId_active {
  border-color: dodgerblue;
  background-color: dodgerblue;
  color: white;

  &:hover {
    border-color: lightgrey;
    color: white;
  }
}